{% extends "base.html" %}


{% block title %}Homepage{% endblock title %}

  {% block content %}
    <h2>Welcome to the guess the secret number SQL edition</h2>
    <h4>Guess the number between 1 and 10</h4>
    <br>
    <form action="/result" method="post" >
        <input type="text" name="username" placeholder="Enter your username">
        <br>
        <br>
        <input type="number" name="guess" placeholder="Enter your number">
        <br>
        <br>
        <button type="submit" >Submit</button>
    </form>
{% endblock content %}